<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Wilkommen, bienvenue, and welcome to Heroku!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Stock info form</h2>
          <p><a href="/">Home</a></p>
          <form action = "/result" method = "POST">
            <label for="ticker name">Ticker name(eg. GOOG):</label><br>
            <input type="text" id="ticker" name="ticker"><br>

            <p>Please select one of the following metrics for the TICKER you entered above:</p>
            <input type="radio" id="metric1" name="metric" value="1">
            <label for="metric1">open</label><br>
            <input type="radio" id="metric2" name="metric" value="2">
            <label for="metric2">high</label><br>  
            <input type="radio" id="metric3" name="metric" value="3">
            <label for="metric3">low</label><br>
            <input type="radio" id="metric4" name="metric" value="4">
            <label for="metric4">close</label><br><br>

            <input type="submit" value="Submit">

          </form>
          
          
          
          
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>